/* font */

@font-face {
    font-family: "bacalisties";
    src: url("/assets/font/Bacalisties.ttf");       
   }

/* balises */

*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
  text-decoration: none;
  color: rgba(46, 49, 49, 1);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    min-height:100vh; 
	  display:flex; 
    flex-direction:column; 
    color: rgba(14, 10, 10, 0.9);
}

h1{
    font-family: "bacalisties"; 
    text-align: center; 
    font-size: 4em;
    font-weight: 900;
    text-shadow: 10px 3px 7px rgba(0,0,0,0.6); 
}

h2{
    font-size: 1.6em;
    font-weight: 900;
    text-shadow: 10px 3px 7px rgba(0,0,0,0.6);
    font-style: italic;
    margin-bottom: 30px;
}

p{
    font-size: 1.2em;
    display: block;
}

/* Header */

header{
    height: 300px;
    background: url(/assets/pictures/pexels-karolina-grabowska-4046718.jpg) no-repeat;
    background-size: cover;
    color: rgba(46, 49, 49, 1);
    display: flex;
    align-items: center;
    justify-content: center;     
}

/* Nav bar */

nav{
  background-image: linear-gradient(to right bottom, #c9cacd, #d6d7d9, #e4e4e6, #f2f1f2, #ffffff);
  width: 100%;
  height: 60px;  
}

.navBar{
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0;

}

.navBar ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
       
}

nav a { 
    font-family: 'Satisfy', cursive;
    font-size: 1.3em;
    color: rgba(46, 49, 49, .7);
    font-weight: 500;
    text-shadow: 10px 3px 7px rgba(189, 195, 199, .6);
    transition: all .8s;
}

nav a:hover{
    color:rgba(46, 49, 49, 1);
    font-size: 1.6em;
}

/* container */

.container{
    width: 80%;
    margin: 0 auto;
}

/* menu burger */

.burger{
  display: none;
  width: 42px;
  height: 24px;
  cursor: pointer;
  position: relative;
  margin-top: 20px;
  margin-left: 20px;
}

.burger span{
  width: 100%;
  height: 4px;
  background: #2e3131;
  display: block;
  position: absolute;
  transform: translateY(-50%);
  transition: background-color 0.5s ease-in-out;
}

.burger span::before, .burger span::after{

  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background: #2e3131;
  transition: transform 0.5s ease-in-out;
}

.burger span::after{
  transform: translateY(10px);
}

.burger span::before{
  transform: translateY(-10px);
}

.burger.active span{
  background: transparent;
}

.burger.active span::before{
  transform: translateY(0) rotateZ(45deg);
}

.burger.active span::after{
  transform: translateY(0) rotateZ(-45deg);
}

/* animation glissement */

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes slideInRight {
  0% {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  }
  @keyframes slideInRight {
  0% {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  }
  
  .slideInLeft {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes slideInLeft {
    0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    }
    @keyframes slideInLeft {
    0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    } 

/* section */

#content{
    flex-grow:1; /* 4 */
    font-family: 'Satisfy', cursive;
    margin-top: 50px;
    text-align: justify;
}

#content p{
  margin-top: 20px;
}

#presentation{
  margin-top: 50px;
}

.flex-image{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

#image{
    height: 450px; 
    border-radius: 20px;
    width: auto;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    opacity:1.0;
    transition: opacity 1s, visibility 1s;   
}

#title{
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 1.2em; 
}

/* contact */

#contact{
  text-shadow: 10px 3px 7px rgba(0,0,0,0.6);
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#contact span{
  opacity: 0;
  transition: all 1s;
}

#contact span:hover{
  opacity: 1;
  transition: all 1s;
  color: rgba(46, 49, 49, 1);
}


#btn-contact{
  margin-top: 15px;
  font-size: 1.1em;
  font-weight: 900;
  border-radius: 20px;
  padding: 20px;
  background: url(/assets/pictures/contact.jpg) no-repeat center ;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 1s;
  
}

#btn-contact:hover{
  transform: scale(1.1);
  transition: all 2s;
  text-shadow: 10px 3px 7px rgba(0,0,0,0.6); 
  color: rgba(46, 49, 49, 1);
  background-image: linear-gradient(to right bottom, #c9cacd, #d6d7d9, #e4e4e6, #f2f1f2, #ffffff);
  cursor: pointer;
}

/* footer */

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px; 
    text-align: center;
    text-shadow: 10px 3px 7px rgba(0,0,0,0.6);
    background-image: linear-gradient(to top, #c9cacd, #d6d7d9, #e4e4e6, #f2f1f2, #ffffff);
}


/* mediaqueries */

@media all and (max-width: 850px) {

  .burger{
    display: block;
    padding-top: 3px;
    padding-left: 30px;
  }

  /* Nav bar */

  nav{
    height: 100%;  
  }

  .navBar{
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0;
  }

  .navBar ul{
      display: flex;
      justify-content: none;
      flex-direction: column;
      list-style: none;
      margin-right: 10%; 
      margin-left: 50%;
  }

  nav li {
    margin: 10px 0px;
  }

  .navBar{
    display: none;
  }

  .navBar.visibleNavBar{
    display: block;
  }
  

.container{
  width: 90%;
}
}


@media all and (max-width: 550px) {

  h1{
    font-size: 3.5em;
  }

}